
header{
    background-color: green;
}
body{
    font-style: 300;
    font-style: oblique;
}
.button{
    width: 20%;
    text-align: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.button a{
    font-size: large;
    text-decoration: none;
    color: green;
}
 .button:hover {
    color: white;
    background-color: green;
  }
  .button a:hover {
    color: white;
    background-color: green;
  }
 a{
   text-decoration: none;
   color: black;
   font-size: small;
    
}
.p{
  margin-bottom: 20px;
}
#link{
    text-decoration: none;
    color: black;
    float: right;
}
#link1{
    text-decoration: none;
    color: black;
    float: left;
}
.img{
    border: none;
    outline: none;
    width: 50%;
    height: 50%;
}


 .form-group input{
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
.row{
    margin-top: 10px;
}

.n{
    text-align: left;
    background-color: 	#ADFF2F;
    padding: 20px;
    color: black;
    margin: 0;
}
/* .card{
    
} */

.click{
    background-color: green;
    margin: 5px 0;
    color: white;
}
.click h2{
    padding-top: 5px;
    padding-bottom: 30px;

}
.click p{
    padding-left: 65px;

}
.form-label {
    display: block;
    margin-bottom: 5px;
}
.form-group {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
.form-containerb .form-group input{
    width: 400px;
    box-sizing: border-box;
    text-align: start;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.form-containerb {
    margin-left: 180px;
}
.b{
    margin-left: 200px;
}
.h{
    margin-left: 20px;
    width: 150px;
}
.b a{
    text-decoration: none;
}
.b a:hover {
    color: white;
  }
  .non{
    margin-left: 100px;
    text-align: start;
 } 

 .login{
    text-align: center;
    align-items: center;
 }
 .containers {
    display: flex;
    justify-content: center;
     padding: 20px; 
  }
  .form-groups {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .form-groups label {
     margin-right: 20px; 
    min-width: 100px;
    text-align: end; 
    font-weight: 400;

  }
  .form-groups input {
     flex: 1;
     align-items: end;
    width: 500px;
    height: 3%;

    
  }
  .form-select option{
    font-weight: 200;
  }
  .p5{
    padding: 50px;
  }
  .g{
    text-align: left;
  }
  .g a{
    text-decoration: none;
    color: black;
    margin: 10px;
  }
  input:hover{
    border-color: #ADFF2F;
  }
  select option{
    font-size: small;
  }
select:hover{
    border-color: #ADFF2F;
  }
 .bob{
  margin-left: 00px;
  text-align: end;
  align-items: end;
 }
 .cards{
  background-color: white;
  border: none;
  padding-bottom: 40px;
 }
 

